<nb-card>
	<nb-card-header>
		Enquetes
	</nb-card-header>
	<nb-card-body>
		<ng2-smart-table [settings]="settings" 
						 [source]="source" 
						 (userRowSelect)="selectPoll($event)">
		</ng2-smart-table>
	</nb-card-body>
	<nb-card-footer>
  		<button nbButton shape="rectangle" hero status="primary" class="btn-demo" (click)="openDialogAddPoll()">Cadastrar</button>
	</nb-card-footer>
</nb-card>