<nb-card>
  <nb-card-header>Adicionar enquete</nb-card-header>
  <nb-card-body>
    <img previewImage *ngIf="imageSrc" src="{{imageSrc}}">
    <input nbInput 
	       fullWidth 
	       placeholder="Título"
           [(ngModel)]="pollService.newPoll.questionTitle">
    <textarea rows="3" 
    	      nbInput 
    	      fullWidth 
    	      placeholder="Descrição"
              [(ngModel)]="pollService.newPoll.questionDescription">
    </textarea>
    <input name="imageUrl" 
         type="file" 
         accept="image/*" 
         (change)="handleInputChange($event)" />
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()">Cancelar</button>
    <button nbButton status="primary" (click)="addPollQuestion()">Cadastrar</button>
  </nb-card-footer>
</nb-card>
