<div logo>
    <img src="assets/images/logo.svg">
</div>

<form>
  <nb-alert outline="danger" *ngIf="wrong == true">Suas informações estão incorretas, tente novamente!</nb-alert>
  <nb-alert outline="warning" *ngIf="loading == true">Carregando...</nb-alert>

  <div class="form-control-group">
    <label class="label" for="input-email">Endereço de e-mail:</label>
    <input nbInput
           fullWidth
           placeholder="Digite seu e-mail"
           autofocus
           [(ngModel)]="adminEmail"
           [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Senha:</label>
    <input nbInput
           fullWidth
           type="password"
           placeholder="Digite sua senha"
           [(ngModel)]="adminPasscode"
           [ngModelOptions]="{standalone: true}">
  </div>
  <button nbButton
          fullWidth
          status="primary"
          (click)="login()">
    Entrar
  </button>
</form>
