<nb-alert outline="success" *ngIf="articlesService.isSuccessAlertActive == true">Cadastro realizado com sucesso</nb-alert>
<nb-alert outline="success" *ngIf="articlesService.isSuccessAlertActive == true">Dados alterados com sucesso!</nb-alert>
<nb-card>
	<nb-card-header>
		Lista de artigos
	</nb-card-header>

	<nb-card-body>
		<ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="selectArticle($event)">
		</ng2-smart-table>
	</nb-card-body>
	<nb-card-footer>
  		<button nbButton shape="rectangle" hero status="primary" class="btn-demo" (click)="openAddUserPage()">Cadastrar artigos</button>
	</nb-card-footer>
</nb-card>