<nb-alert outline="danger" *ngIf="isAllinPutFilled == true">Por favor, preencha todos os campos!</nb-alert>
<nb-alert outline="danger" *ngIf="isEmailExist == true">Este e-mail já existe!</nb-alert>
<nb-card>
    <nb-card-header>Adicionar usuário</nb-card-header>
    <nb-card-body>
    <input type="text" 
           nbInput 
           fullWidth 
           placeholder="Nome"
           [(ngModel)]="userService.newUser.userName">
    <input type="text" 
           nbInput 
           fullWidth 
           placeholder="E-mail"
           [(ngModel)]="userService.newUser.userEmail">
    <input type="text" 
           nbInput 
           fullWidth 
           placeholder="Telefone" mask="(00) 00000-0000"
           [(ngModel)]="userService.newUser.userPhone">
    <input type="text" 
           nbInput 
           fullWidth 
           placeholder="Switch Code"
           [(ngModel)]="userService.newUser.userCode">
    <input type="text" 
           nbInput 
           fullWidth 
           placeholder="Data de nascimento" mask="00/00/0000"
           [(ngModel)]="userService.newUser.userBirthdate">
    <input type="password" 
           nbInput 
           fullWidth 
           placeholder="Senha"
           [(ngModel)]="userService.newUser.userPasscode">
    </nb-card-body>
	<nb-card-footer>
		<button nbButton shape="rectangle" hero status="primary" class="btn-demo" (click)="addUser()">Cadastrar</button>
	</nb-card-footer>
</nb-card>