<nb-card>
	<nb-card-header>
		Enquete
	</nb-card-header>

	<nb-card-body *ngIf="isEditAllowed == false">
		<img previewImage
			 *ngIf="pollService.selectedPoll.questionFilename"
		     src="https://www.aplicativoacvali.com/images/{{pollService.selectedPoll.questionFilename}}">
		<div class="form-control-group">
	    	<label class="label" for="input-email">Título</label>
	        <input nbInput 
	               fullWidth 
	               placeholder="Título"
	               [(ngModel)]="pollService.selectedPoll.questionTitle"
	               disabled>
		</div>
		<div class="form-control-group">
	    	<label class="label" for="input-email">Descrição</label>
	        <textarea nbInput 
	               fullWidth 
	               placeholder="Descrição"
	               [(ngModel)]="pollService.selectedPoll.questionDescription"
	               disabled>
			</textarea>
		</div>
	</nb-card-body>

	<nb-card-body *ngIf="isEditAllowed == true">
		<img previewImage
			 *ngIf="pollService.selectedPoll.questionFilename && !imageSrc"
		     src="https://www.aplicativoacvali.com/images/{{pollService.selectedPoll.questionFilename}}">
    	<img previewImage *ngIf="imageSrc" src="{{imageSrc}}">
		<div class="form-control-group">
	    	<label class="label" for="input-email">Título</label>
	        <input nbInput 
	               fullWidth 
	               placeholder="Título"
	               [(ngModel)]="pollService.editedPoll.questionTitle">
		</div>
		<div class="form-control-group">
	    	<label class="label" for="input-email">Descrição</label>
	        <textarea nbInput 
	               fullWidth 
	               placeholder="Descrição"
	               [(ngModel)]="pollService.editedPoll.questionDescription">
			</textarea>
		</div>
    	<input name="imageUrl" 
				type="file" 
				accept="image/*" 
				(change)="handleInputChange($event)" />
	</nb-card-body>

	<nb-card-footer *ngIf="isEditAllowed == false">
  		<button nbButton shape="rectangle" status="primary" class="btn-demo" (click)="allowEdit()">Editar enquete</button>
	</nb-card-footer>

	<nb-card-footer *ngIf="isEditAllowed == true">
  		<button nbButton shape="rectangle" status="primary" class="btn-demo" (click)="editPoll()">Salvar alterações</button>
  		<button nbButton shape="rectangle" status="danger" class="btn-demo" (click)="onDeleteConfirm()">Apagar enquete</button>
	</nb-card-footer>
</nb-card>

<nb-card>
	<nb-card-header>
		Opções
	</nb-card-header>

	<nb-card-body>
		<br>
		<ng2-smart-table [settings]="settings" 
						 [source]="source" 
						 rows="4"
						 (userRowSelect)="selectOption($event)">
		</ng2-smart-table>
	</nb-card-body>

	<nb-card-footer>
  		<button nbButton shape="rectangle" status="primary" class="btn-demo" (click)="openDialogAddOption()">Cadastrar opção</button>
	</nb-card-footer>
</nb-card>