<nb-card *ngIf="edit == false">
    <nb-card-header>Ver opção</nb-card-header>
    <nb-card-body>
        <input nbInput 
               fullWidth 
               placeholder="Título"
               [(ngModel)]="pollService.selectedOption.optionTitle"
               disabled>
                <ng2-smart-table [settings]="settings" 
                         [source]="source" 
                         rows="4"
                         (userRowSelect)="selectOption($event)">
                </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" (click)="changeInterface()">Editar</button>
        <button class="cancel" nbButton status="danger" (click)="cancel()">Fechar</button>
    </nb-card-footer>
</nb-card>

<nb-card *ngIf="edit == true">
    <nb-card-header>Editar opção</nb-card-header>
    <nb-card-body>
        <input nbInput 
               fullWidth 
               placeholder="Título"
               [(ngModel)]="pollService.editedOption.optionTitle">
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" (click)="updateOption()">Salvar</button>
        <button class="cancel" nbButton status="danger" (click)="changeInterface()">Cancelar</button>
    </nb-card-footer>
</nb-card>
