<nb-card>
    <nb-card-header>Adicionar opção</nb-card-header>
    <nb-card-body>
        <input nbInput 
               fullWidth 
               placeholder="Título"
               [(ngModel)]="pollService.newOption.optionTitle">
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="cancel()">Cancelar</button>
        <button nbButton status="primary" (click)="addPollOption()">Cadastrar</button>
    </nb-card-footer>
</nb-card>
